.XLM.reset {
  border-radius: 5px;
  border: 0px;
}

.XLM.treeNode {
  border-radius: 15px;
  border: 0px;
  background-image: url('../image-folder/Stellar.png')
}

.XLM.can {
  animation: CiperText .8s linear forwards;
}

@keyframes CiperText {
  0% {
    content: '4@,3SAscAi;9,bT4';
  }
  10% {
    content: '$R6?4dSj{qS<7Yh7';
  }
  20% {
    content: '+BDs73f;[u3^4Lgg';
  }
  30% {
    content: '{qS<7Yh7+BDs73f;';
  }
  50% {
    content: 'Ai;9,bT4$R6?4dSj';
  }
  60% {
    content: '[o3^4LggAi;9,bT4';
  }
  70% {
    content: 'qoj4BWy-?4dSj{qS';
  }
  80% {
    content: 'GonQ5Tye4LggAi;s';
  }
  90% {
    content: 'Go3d4<yecAi;9,bT';
  }
  100% {
    content: '';
  }
}