.main.treeNode {
  border: 0px;
  border-radius: 5px;
}

.main.longUpg {
  border: 0px;
  border-radius: 5px;
}

.SET.milestone {
  border-radius: 5px;
}
.SET.milestoneDone {
  color: #474747;
  border-radius: 5px;
}

.ach.treeNode {
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
  
  animation: Energy-Own 2s infinite;
}

.ach.achievement { 
  margin: 1px;
  border: 0px;
  border-radius: 5px;
}







@keyframes Afford-Smooth {
  0% { background-color: rgba(175, 175, 175, 1); }
  50% { background-color: rgba(205,205,205, 1); }
  100% { background-color: rgba(175, 175, 175, 1); }
}

@keyframes Afford-BlinkB {
  0% { background-color: #3153a3; }
  100% { background-color: #223f6b; }
}

@keyframes Afford-BlinkY {
  0% { background-color: #e0b64a; }
  100% { background-color: #dba51d; }
}

@keyframes Energy-Own {
  0% { background-color: #ffea03; }
  50% { background-color: #f5e753; }
  100% { background-color: #ffea03; }
}

@keyframes Afford-SmoothR {
  0% { background-color: #ff3729; }
  50% { background-color: #ff5d52; }
  100% { background-color: #ff3729; }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		box-shadow: 0 0 3.5px 12.5px rgba(255, 255, 255, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.ciperTest:after {
  animation: ciper 2s infinite;
}

@keyframes ciper {
  0% {
    content: 'AATOACG GCTGTGGCTATATTAGCGAACCTTGAG'
  }
  100% {
    content: 'AATOAAT GAAXATTTCAACCGCGAACACG';
  }
}
